




/* 

body{







    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
    /* width: 100vw; */
/* } */
 /* */ 





 @media screen and (max-width:767px) {
    [data-section-id="5e80c87763d7965a88ad6cce"] .gallery-slideshow {
        height: 400px !important;
    }
}


body {
    overflow-x: hidden;
    /* box-sizing: border-box; */
}




@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


@media(max-width:998px){
    html{
        font-size: 50%;
    }
}
@media(max-width:768px){
    html{
        font-size: 40%;
    }
}
.typo_h4{
    font-family: 'Quicksand', sans-serif;
    /* font-size: 1.5rem; */
    position: relative;
    top: 7rem  ;
    left: 50.80rem;
    max-width:auto;
    display: grid;
}



.typo_h5{
    font-family: 'Quicksand', sans-serif;
    /* font-size: 1.5rem; */
    position: relative;
    top: 8rem  ;
    left: 50.80rem;
    max-width:auto;
    display: grid;



}




.text{

   
    
    /* font-family: 'Quicksand', sans-serif; */
    font-size: 1.5rem;
    position: relative;
    top: 10rem  ;
    left: 50.80rem;
    max-width:auto;
  
} 

.email{
   
    /* font-family: 'Quicksand', sans-serif; */
    font-size: 1.5rem;
    position: relative;
    top: 12.5rem  ;
    left: 50.80rem;
    max-width:auto;

}


.Company{

    /* font-family: 'Quicksand', sans-serif; */
    font-size: 1.5rem;
    position: relative;
    top: 15rem  ;
    left: 50.80rem;
    max-width:auto;
   
}



.Password{
  
    /* font-family: 'Quicksand', sans-serif; */
    font-size: 1.5rem;
    position: relative;
    top: 18rem  ;
    left: 50.80rem;
    max-width:auto;
}



.form-button{
    /* font-family: 'Quicksand', sans-serif; */
    font-size: 1.5rem;
    position: relative;
    top: 21rem  ;
    left: 53.80rem;
    max-width:auto;
    flex: 1;

   
}

.form-group form-button{

    
    
    
    font-family: 'Quicksand', sans-serif;
  
   
   

    font-size: 1.5rem;
    position: relative;
    top: 9rem  ;
    left: 50.80rem;
    max-width:auto;
    cursor: pointer;
}

.logo-image{
   
   
max-width: auto;; height: auto;
    position: relative; 
  top: -60rem;
  padding-left: 12rem;
  /* display: grid; */
}  


.Already{
    font-family: 'Quicksand', sans-serif;
    color: rgb(67, 67, 76);
    font-size: 1.5rem;
    position: relative;
    top: -18rem  ;
    left: 18.80rem;
    max-width:auto;
}

.signup-image{ 


max-width: 100%;; height: auto;
    position: relative; 
    top: -10rem;
    padding-left: 18rem;
}


 



